@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");
:root {
  --app-height: 100%;
  --text-color-primary: #eeeeee;
  --background-color: rgb(1, 30, 51);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  overflow: hidden;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color-primary);
}

a {
  cursor: pointer;
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 30px 30px 0px 30px;
}
.header__logo {
  position: relative;
}
.header__logo > a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.hero {
  padding: 0px 30px;
}

.title {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 30px;
  background-image: linear-gradient(315deg, rgb(255, 0, 238) 0%, rgb(255, 170, 0) 100%);
  background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  max-width: 390px;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 40px;
    max-width: 550px;
  }
}
.loader {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(151, 159, 208, 0.3);
  border-top-color: #979fd0;
  border-bottom-color: #979fd0;
  -webkit-animation: 1.5s spin infinite linear;
          animation: 1.5s spin infinite linear;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  height: 107px;
}
.card__price {
  letter-spacing: 1px;
  font-size: 72px;
  font-weight: 700;
}
.card__change {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .card {
    margin-top: 40px;
    height: 129px;
  }
  .card__price {
    font-size: 90px;
  }
  .card__change {
    font-size: 14px;
  }
}
.select {
  width: 100%;
  position: relative;
}
.select.open .select__dropdown {
  display: block;
}
.select.open .select__input > i {
  transform: rotate(180deg);
}
.select.open .select__backdrop {
  display: block;
}
.select__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.25);
  color: #eeeeee;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  padding: 0 1rem;
}
.select__input > i {
  margin-left: 15px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in;
}
.select__dropdown {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  top: 40px;
  left: 0;
  right: 0;
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
}
.select__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.select__backdrop {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}
.select__item {
  padding: 1rem;
}
.select__item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.03);
  transition: 0.15s background-color ease-in;
}/*# sourceMappingURL=style.css.map */