@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

:root {
	--app-height: 100%;
	--text-color-primary: #eeeeee;
	--background-primary: #0e1116;
	--background-second: #011e33;
	--rising: rgb(48, 255, 32);
	--logout: rgb(223, 101, 101);
	--background-gradient: linear-gradient(
	  to bottom,
	  #0e1116,
	  #0e1116,
	  #0e1116,
	  #0e1218,
	  #0e131b,
	  #0e141d,
	  #0d1722,
	  #0b1928,
	  #071b2d,
	  #011e33
	);
  }

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color:rgb(255, 255, 255);
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: var(--text-color-primary);
	background-color: var(--background-primary);
	background-image: var(--background-gradient);
	width: 100vw;
	height: 100vh;
}

.header, .bottom {
	display: flex;
    justify-content: space-between;
    align-content: flex-start;
	align-items: center;
    flex-direction: row;
	gap: 20px;
    position: fixed;
    left: 0;
    right: 0;
}

.header {
	top: 0;
    padding: 30px 30px 0px 30px;
	z-index: 1000;

    &__logo {
        position: relative;

        & > a {
            color: #fff;
            font-size: 1.125em;
            font-weight: 700;
			text-shadow: red -1.5px 0,
					     cyan 1.5px 0;
        }
    }

	&__nav-controls {
		margin-left: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
	}
}

.connector {
	@media screen and (max-width: 430px) {
		display: none;
	}
}

.bottom {
	bottom: 0;
	padding: 0px 30px 30px 30px;
	z-index: 999;

	&__based, &__copy {
		font-size: 0.85em;
		font-weight: 500;
		color: var(--text-color-primary);
	}

	&__based {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		gap: 10px;

		&-icon, &-icon svg {
			width: 25px;
			height: 25px;
		}
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
    height: var(--app-height);
    overflow: hidden;
	background-image: radial-gradient(
    	var(--background-second) 1px,
    	transparent 1px
  	) !important;
  	background-size: 20px 20px;
	position: relative;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 0px 30px;
	}
}

.title {
	text-align: center;
	letter-spacing: 1px;
	font-weight: 900;
	font-size: 1.875em;

	background-image: linear-gradient(
		315deg,
		rgb(255, 0, 238) 0%,
		rgb(255, 170, 0) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;

	max-width: 390px;
}

@media screen and (min-width: 1024px) {
	.title {
		font-size: 2.5em;
		max-width: 550px;
	}
}

.loader {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 0.3rem solid rgba(#ffffff, 0.3);
	border-top-color: rgba(#ffffff, 0.6);
	border-bottom-color: rgba(#ffffff, 0.6);
	animation: 1.5s spin infinite linear;
	margin: 0 auto;
}
  
@keyframes spin {
	to {
	  transform: rotate(360deg);
	}
}

.card {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
  
	&__price {
	  font-size: calc(1em + 6vw);
	  letter-spacing: 1px;
	  font-weight: 700;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 100%;
  
	  @media screen and (max-width: 479px) {
		font-size: calc(1em + 10vw);
	  }
	}
  
	&__change {
	  color: #aaa;
	  letter-spacing: 1px;
	  font-size: 0.9em;
	  
	  @media screen and (max-width: 479px) {
		font-size: 0.8em;
	  }

	  &.falling {
		color: #ff4040;
	  }
	  
	  &.rising {
		color: var(--rising);
	  }
	}
}

.slidebar {
	&__toggle {
		display: block;
		position: relative;
		-webkit-user-select: none;
  		user-select: none;
		z-index: 1000;
		cursor: pointer;
		transition: 0.25s transform;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
		background-repeat: no-repeat;
		width: 36px;
		height: 36px;

		&.active {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
		}
	}

	&__body {
		position: fixed;
		right: -500px;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 300px;
		backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			background-color: rgba(39, 39, 39, 0.1);
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			box-shadow: 0 0px 80px rgba(0, 0, 0, 0.3);
		padding: 20px;
		padding-top: 95px;
		z-index: 999;
		transition: right 0.1s ease-in;

		@media screen and (max-width: 480px) {
			width: 100%;
			border-left: none;
				box-shadow: none;
		}

		&.active {
			right: 0;
		}
	}
}

i.icon {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	-webkit-user-select: none;
  	user-select: none;

	&.wallet {
		background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.00001 6.5V6.5C3.00001 5.11929 4.1193 4 5.50001 4L19.2857 4C19.4852 4 19.585 4 19.6651 4.02806C19.8088 4.07831 19.9217 4.19124 19.9719 4.33486C20 4.41505 20 4.51479 20 4.71429V4.71429C20 5.91124 20 6.50972 19.8317 6.99084C19.5301 7.85258 18.8526 8.53011 17.9908 8.83165C17.5097 9 16.9112 9 15.7143 9L15 9M3.00001 6.5V6.5C3.00001 7.88071 4.11929 9 5.50001 9L19 9C19.9428 9 20.4142 9 20.7071 9.29289C21 9.58579 21 10.0572 21 11L21 13M3.00001 6.5L3.00001 17C3.00001 18.8856 3.00001 19.8284 3.58579 20.4142C4.17158 21 5.11439 21 7.00001 21L19 21C19.9428 21 20.4142 21 20.7071 20.7071C21 20.4142 21 19.9428 21 19L21 17M21 17H17C16.0572 17 15.5858 17 15.2929 16.7071C15 16.4142 15 15.9428 15 15V15C15 14.0572 15 13.5858 15.2929 13.2929C15.5858 13 16.0572 13 17 13H21M21 17L21 13" stroke="rgb(255, 255, 255)" stroke-width="2"/></svg>');
	}

	&.logout {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(223, 101, 101)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>');
	}

	&.copy {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>');
	}

	&.toncoin {
		background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.6578 4.22178C21.4378 3.84866 21.1189 3.53883 20.7339 3.32412C20.3489 3.10941 19.9116 2.99755 19.467 3.00004H4.52941C4.08542 3.00012 3.64927 3.11306 3.26478 3.3275C2.88029 3.54194 2.561 3.85034 2.33899 4.2217C2.11698 4.59307 2.00007 5.01433 2 5.44315C1.99993 5.87198 2.11671 6.29327 2.3386 6.6647L11.2587 21.5876L11.2676 21.5996C11.2811 21.6218 11.297 21.6446 11.3124 21.6657C11.3183 21.6719 11.3236 21.6793 11.3289 21.6862C11.3495 21.7116 11.3715 21.736 11.3949 21.7591L11.4002 21.7631C11.4225 21.7842 11.4459 21.8041 11.4704 21.8229L11.4928 21.8388C11.5141 21.8542 11.5359 21.8679 11.5583 21.8815L11.5783 21.8923C11.6079 21.9092 11.6387 21.924 11.6703 21.9368V21.9368C11.7012 21.9489 11.7327 21.9594 11.7647 21.9681L11.7895 21.9744C11.8154 21.9801 11.8414 21.9858 11.8673 21.9892L11.8944 21.9932C11.9629 22.0023 12.0324 22.0023 12.1008 21.9932L12.128 21.9892C12.1539 21.9858 12.1799 21.9801 12.2058 21.9744L12.2306 21.9681C12.2626 21.9594 12.2941 21.9489 12.3249 21.9368V21.9368C12.3566 21.9239 12.3873 21.9091 12.4169 21.8923C12.424 21.8889 12.4299 21.8844 12.437 21.8815C12.4594 21.8679 12.4812 21.8542 12.5018 21.8388C12.5101 21.8337 12.5172 21.8286 12.5248 21.8229C12.5493 21.8041 12.5727 21.7842 12.595 21.7631C12.5969 21.762 12.5985 21.7607 12.5997 21.7591C12.6233 21.7362 12.6456 21.712 12.6664 21.6867C12.6714 21.6794 12.6769 21.6723 12.6829 21.6657C12.6982 21.644 12.7141 21.6218 12.7277 21.5996L12.7366 21.5876L21.6567 6.6647C21.8813 6.29424 21.9998 5.87271 22 5.4434C22.0002 5.01408 21.8821 4.59245 21.6578 4.22178V4.22178ZM11.1449 18.0984L3.81703 5.84052C3.74564 5.71982 3.70828 5.58314 3.70868 5.44413C3.70909 5.30512 3.74725 5.16865 3.81935 5.04834C3.89145 4.92803 3.99497 4.82809 4.11957 4.75851C4.24417 4.68893 4.38549 4.65214 4.52941 4.65181H11.1449V18.0984ZM20.1794 5.84052L12.8515 18.0984V4.65181H19.467C19.6114 4.65185 19.7532 4.68858 19.8782 4.75831C20.0032 4.82803 20.107 4.9283 20.1792 5.04905C20.2514 5.16979 20.2894 5.30676 20.2895 5.44618C20.2895 5.58561 20.2515 5.72259 20.1794 5.84337V5.84052Z" fill="rgb(255, 255, 255)"/></svg>');
	}

	&.check {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(48, 255, 32)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
	}
}

.account__nav {
	&-item {
		font-size: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		width: 100%;
		padding: 10px 20px 10px 0px !important;
		margin-bottom: 5px;
		flex: 0 1;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-content {
		display: flex;
		align-items: center;
		gap: 15px;
		color:rgb(255, 255, 255);
		width: 100%;

		& .name, & .balance {
			overflow: hidden;
			width: 150px;
			white-space: nowrap;

			background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;			
		}

		& .sub {
			font-size: 10px;
			color: grey;
		}

		&.logout {
			color: rgb(223, 101, 101);
		}
	}
}

button[data-tc-button="true"] {
	cursor: pointer;
	box-sizing: border-box;
	height: 40px;

	&>div[data-tc-text="true"] {
		font-family: Montserrat, sans-serif;
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
	}

	&:hover {
		transform: none;
	}
}

.btn {
	display: inline-block;
	align-items: center;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 8px;
	padding: 10px 25px !important;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer;
	box-sizing: border-box;
	transition: background-color 300ms ease 0s, 
				color 300ms ease 0s;
	width: 100%;
	height: 40px;
  
	&--small {
	  padding: 8px 20px !important;
	}
  
	&--medium {
	  padding: 10px 25px !important;
	}
  
	&:hover:not([disabled]) {
	  background-color: rgb(0, 0, 0);
	  color: rgb(255, 255, 255);
	}
  
	&:disabled {
	  background: #aaa;
	  border: aaa;
	  color: a1a1a1;
	  cursor: default;
	}
}