@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

:root {
    --app-height: 100%;
	--text-color-primary: #eeeeee;
	--background-color: rgb(14, 17, 22);
	--background-gradient: linear-gradient(to bottom, #0e1116, #0e141d, #0c1824, #081b2c, #011e33);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  overflow: hidden;
}

ul {
  list-style: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 16px;
	background-color: var(--background-color);
	background-image: var(--background-gradient);
	color: var(--text-color-primary);
}

a {
	cursor: pointer;
	text-decoration: none;
}

.layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
    height: var(--app-height);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
	align-items: center;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 30px 30px 0px 30px;

    &__logo {
        position: relative;

        & > a {
            color: #fff;
            font-size: 1.125em;
            font-weight: 700;
        }
    }
}

.hero {
	padding: 0px 30px;
}

.title {
	text-align: center;
	letter-spacing: 1px;
	font-weight: 900;
	font-size: 1.875em;

	background-image: linear-gradient(
		315deg,
		rgb(255, 0, 238) 0%,
		rgb(255, 170, 0) 100%
	);
	background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;

	max-width: 390px;
}

@media screen and (min-width: 1024px) {
	.title {
		font-size: 2.5em;
		max-width: 550px;
	}
}

.loader {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 0.3rem solid rgba(#ffffff, 0.3);
	border-top-color: rgba(#ffffff, 0.6);
	border-bottom-color: rgba(#ffffff, 0.6);
	animation: 1.5s spin infinite linear;
	margin: 0 auto;
}
  
@keyframes spin {
	to {
	  transform: rotate(360deg);
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 30px;
	height: 107px;

	&__price {
		letter-spacing: 1px;
		font-size: 4.5em;
		font-weight: 700;
	}
	
	&__change {
		letter-spacing: 1px;
		font-size: 0.75em;
		font-weight: 700;
	}
}

@media screen and (min-width: 1024px) {
    .card {
		margin-top: 40px;
		height: 129px;

		&__price {
			font-size: 5.625em;
		}

        &__change {
            font-size: 0.875em;
        }
    }
}